body {
  background: #3600EB;
}

h3 {
  text-align: center;
}

img {
  width: 100%;
  height: auto;
}

.about {
  color: red;
  font-family: cursive;
}

.skills {
  color: green;
  font-family: cursive;

}

.projects {
  color: light-grey;
  font-family: cursive;
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 30%;
  margin: 10px;
  padding: 20px 10px;
  background: magenta;
  border-radius: 25%;
  overflow: hidden;
}

.contact {
  color: yellow;
  font-family: cursive;
}
