body {
  background: #3600EB;
}

.about {
  color: red;
  font-family: helvetica;
}

.skills {
  color: green;
  font-family: ariel;

}

.projects {
  color: light-grey;
  font-family: monaco;
}

.contact {
  color: yellow;
  font-family: papyrus;
}
